@model IEnumerable<Huerto_Del_valle.Models.Proforma>



<div class="container">
    <h1>Productos Seleccionados</h1>
    <table class="table">
        <thead>
            <tr>
                <th class="text-center">
                    Producto
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductoId.nombre)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Cantidad)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    <div class="text-center">
                        <img src="@Html.DisplayFor(modelItem => item.ProductoId.url_producto)" width="65px" height="65px" alt="">
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductoId.nombre)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                 <td class="text-center">
                    
                    <a asp-action="EliminarProforma" asp-route-id="@item.id" style="color: #D52F0B;" >Eliminar</a>
                </td>
            </tr>
    }

            
        </tbody>
    </table>

    <div style="text-align: center; margin-top: 15px;">
        <a asp-controller="Pago" asp-action="Pago">
        <button type="button" class="btn btn-outline-primary">Realizar Pedido</button></a>
    </div>

    <div class="text-right">
        <button class="btn btn-primary"  >Finalizar compra</button>
    </div>

</div>
