@model IEnumerable<Huerto_Del_valle.Models.Proforma>

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap" rel="stylesheet">
</head>
<body style="background-image: url(../img/Carrito.jpg); background-position: center center; background-repeat: no-repeat; background-attachment: fixed; background-size: cover; background-color: #66999;">
<div class="container">
    <h1 style="color: #ffff; font-size: 50px; font-family: 'Lobster', cursive; margin-top: 20px;  margin-bottom: 10px;">Tus Productos</h1>
    <table class="table">
        <thead>
            <tr style="font-size: 30px;">
                <th class="text-center">
                    Producto
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductoId.nombre)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Cantidad)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr style="font-size: 25px;">
                <td>
                    <div class="text-center">
                        <img src="@Html.DisplayFor(modelItem => item.ProductoId.url_producto)" width="65px" height="65px" alt="">
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductoId.nombre)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                 <td class="text-center">
                    
                    <a asp-action="EliminarProforma" asp-route-id="@item.id" style="color: #D52F0B;">Eliminar</a>
                </td>
            </tr>
    }
     

            
        </tbody>
    </table>

    
     
      
      @{
         var total = 0.0;
         var contar = 1;
      }
  
         
      @foreach (var item in Model){
         <tr>
            
            @{
               total = total + item.Precio;
               contar++;
            }
         </tr>
      }
     

     
         <h1 class="text-right" style="color: #ffff; font-size: 40px; font-family: 'Lobster', cursive; margin-top: 20px;  margin-bottom: 10px;">Total:   S/ @total
         
      </h1>

    <div style="text-align: center; margin-top: 15px;">
        <a asp-controller="Pago" asp-action="Pago">
        <button type="button" class="btn btn-outline-danger" style="font-size: 20px;">Ir a comprar</button></a>
    </div>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br>

    

</div>
</body>
