@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<Huerto_Del_valle.Models.Pago>

<div class="container">
    <div class="text-center" style="margin-top: 50px;">
        <h1 class="display-4">Clientes</h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.nombre)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.dni)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.telefono)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.correo)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.region)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.ciudad)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.direccion)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.referencia)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var dato in Model) {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => dato.nombre) @Html.DisplayFor(modelItem => dato.apellido)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => dato.dni)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => dato.telefono)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => dato.correo)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => dato.region)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => dato.ciudad)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => dato.direccion)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => dato.referencia)
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>